@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* Header */

.header-container-top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #222222;
    color: #f3f3f3;
    font-weight: 400;
    padding: 10px 60px;
}
  
.header-lista {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-lista > li {
    padding-left: 10px;
}
  
.header-container-bottom {
    background-color: #f0a83e;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
}
  
.logo-base {
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    color: #ffffff;
}
  
.logo-first {
    color: #3c2313;
}
  
.nav-links {
    list-style: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    justify-content: space-evenly;
}

.nav-links > li {
    padding: 0 15px;
}

.nav-links > li > a {
    text-decoration: none;
    color: #ffffff;
}

.icon-hamburg {
    display: none;
}

/* Main */

.background {
    background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');
    height: 660px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-background {
    display: flex;
    flex-direction: column;
    display: inline-block;
    font-weight: 400;
    color: #3C2313;
    text-align: center;
    padding: 20px 80px;
}

.main-info {
    font-size: 30px;
    line-height: 35.16px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.sub-info {
    font-size: 16px;
    line-height: 18.75px;
    margin-bottom: 10px;
}

.comederos {
    font-size: 16px;
    line-height: 18.75px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #F0A83E;
    padding: 10px 15px;
    border-style: none;
    border-radius: 5px;
}

.top-descriptions {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

h1 {
    font-weight: 700;   
    font-size: 40px;
    line-height: 46.88px;
    color: #3C2313;
}

.main-top-list {
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 17.58px;
    color: #666666;
    display: flex;
    justify-content: center;
    padding-top: 15px; 
}

.main-top-list > li {
    padding: 0 10px;
}

.product-info {
    font-weight: 700;
    font-size: 15px;
    line-height: 17.58px;
    color: #3C2313;
    text-align: center;
    list-style: none;
}

.product-precio {
    color: #F0A83E;
}

.productos {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.productos > article {
    padding: 0 10px;
}

/* Footer */

.contacto {
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.contact-left {
    display: flex;
    flex-direction: column;
}

.iconos-contacto {
    display: flex;
    padding: 8px 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.titulo-contacto {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: #ffffff;
}

.resp-contacto {
    font-weight: 700;
    font-size: 10px;
    line-height: 11.72px;
    color: #8A8787;
}

.logo-footer {
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    color: #F0A83E;
}

.logo-first-footer {
    color: #ffffff;
}

.derechos {
    background-color: #222222;
    color: #ffffff;
    text-align: center;
}


/* Responsive */

@media screen and (max-width:480px) {
    
    /* Header */
    .header-container-top {
        font-size: 10px;
    }    

    .logo-base {
        font-size: 15px;
    }

    .nav-links {
        display: none;
    }

    .icon-hamburg {
        display: flex;
    }

    /* Main */
    
    .background {
        height: 72vh;
    }

    .info-background {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .main-info {
        font-size: 25px;
    }

    .productos {
        flex-direction: column;
        text-align: center;
    }
    
    .contacto {
        flex-direction: column;
    }

    .logo-footer {
        font-size: 15px;
        order: 1;
    }

    .productos > article {
        padding: 15px 0;
    }
}